<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Basic Form</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="img/amnuay.jpg">
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">
                                            <%= req.session.email %>
                                        </strong>
                                    </span>
                                    <span class="text-muted text-xs block">Link
                                        <b class="caret"></b>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a href="profile">Profile</a>
                                </li>
                                <li>
                                    <a href="post">Post</a>
                                </li>
                                <li>
                                    <a href="comment">Comment</a>
                                </li>
                                <li>
                                    <a href="login">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a href="mailbox.html">
                            <i class="fa fa-envelope"></i>
                            <span class="nav-label">จำนวนคนสนใจ </span>
                            <span class="label label-warning pull-right">16/24</span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="mailbox.html">Inbox</a>
                            </li>
                            <li>
                                <a href="mail_detail.html">Email view</a>
                            </li>
                            <li>
                                <a href="mail_compose.html">Compose email</a>
                            </li>
                            <li>
                                <a href="email_template.html">Email templates</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Profile</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="index">Edit</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="category">
                            <i class="fa fa-desktop"></i>
                            <span class="nav-label">หมวดหมู่ประกาศ</span>
                        </a>
                    </li>
                    <li>
                        <a href="forum">
                            <i class="fa fa-files-o"></i>
                            <span class="nav-label">รายการประกาศ</span>
                        </a>
                    </li>
                    <li>
                        <a href="post">
                            <i class="fa fa-pie-chart"></i>
                            <span class="nav-label">รายการความคิดเห็น</span>
                        </a>
                    </li>

                    <li>
                        <a href="layouts.html">
                            <i class="fa fa-diamond"></i>
                            <span class="nav-label">ระดับ</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">รายงาน</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="graph_flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="graph_morris.html">Morris.js Charts</a>
                            </li>
                            <li>
                                <a href="graph_rickshaw.html">Rickshaw Charts</a>
                            </li>
                            <li>
                                <a href="graph_chartjs.html">Chart.js</a>
                            </li>
                            <li>
                                <a href="graph_chartist.html">Chartist</a>
                            </li>
                            <li>
                                <a href="c3.html">c3 charts</a>
                            </li>
                            <li>
                                <a href="graph_peity.html">Peity Charts</a>
                            </li>
                            <li>
                                <a href="graph_sparkline.html">Sparkline Charts</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46h ago</small>
                                            <strong>Mike Loreipsum</strong> started following
                                            <strong>Monica Smith</strong>.
                                            <br>
                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">5h ago</small>
                                            <strong>Chris Johnatan Overtunk</strong> started following
                                            <strong>Monica Smith</strong>.
                                            <br>
                                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/profile.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right">23h ago</small>
                                            <strong>Monica Smith</strong> love
                                            <strong>Kim Smith</strong>.
                                            <br>
                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i>
                                            <strong>Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>
                                <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small">12 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="grid_options.html">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="login">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Profile</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="Profile">Home</a>
                        </li>
                        <li class="active">
                            <strong>Profile</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>


            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>อัพเดตข้อมูลประวัติ
                                    <small>สามารถอัพเดตข้อมูลและช่องทางการติดต่อคุณได้ที่นี่</small>
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <form method="post" class="form-horizontal" action="/profile">
                                    <input type="hidden" class="form-control" name="user" value="<%= req.session.user_id %>">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">คำนำหน้าชื่อ : </label>
                                        <div class="col-sm-2">
                                            <select class="form-control m-b" name="titlname" required>
                                                <option selected="" value="">เลือกคำนำหน้าชื่อ
                                                </option>
                                                <option value="1">นาย
                                                </option>
                                                <option value="2">นาง
                                                </option>
                                                <option value="3">นางสาว
                                                </option>
                                                <option value="4">ว่าที่ร้อยตรี
                                                </option>
                                                <option value="5">ว่าที่ร้อยโท
                                                </option>
                                                <option value="6">ว่าที่ร้อยเอก
                                                </option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">ชื่อ : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="firstname" required>
                                        </div>
                                        <label class="col-sm-2 control-label">นามสกุล : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="lastname" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">เลขประจำตัวประชาชน : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="pid" required>
                                        </div>
                                        <label class="col-sm-2 control-label">วันเดือนปีเกิด : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="pid" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">เบอร์มือถือ : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="mobile" required>
                                        </div>
                                        <label class="col-sm-2 control-label">เบอร์บ้าน : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="trlrphone" required>
                                        </div>
                                    </div>


                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">บ้านเลขที่ : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="house_no" required>
                                        </div>
                                        <label class="col-sm-2 control-label">หมู่ที่ : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="moo_no" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">หมู่บ้าน/อาคาร/ชั้น : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="village" required>
                                        </div>
                                        <label class="col-sm-2 control-label">ถนน : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="road" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">ตรอก/ซอย : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="alley" required>
                                        </div>
                                        <label class="col-sm-2 control-label">ตำบล/แขวง : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="subdistrict" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">อำเภอ : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="district" required>
                                        </div>
                                        <label class="col-sm-2 control-label">จังหวัด : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="province" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">รหัสไปรษณีย์ : </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="postcode" required>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">Save changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    10GB of
                    <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2017
                </div>
            </div>

        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="extend/js/jquery-3.1.1.min.js"></script>
    <script src="extend/js/bootstrap.min.js"></script>
    <script src="extend/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="extend/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="extend/js/inspinia.js"></script>
    <script src="extend/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="extend/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>